.bb-1-light {
  border-bottom: #afafaf solid 1px;
}

.bt-1-light {
  border-top: #afafaf solid 1px;
}

.bl-1-light {
  border-left: #afafaf solid 1px;
}

.br-1-dark {
  border-right: #afafaf solid 1px;
}

.bb-1-dark {
  border-bottom: #585858 solid 1px;
}

.bt-1-dark {
  border-top: #585858 solid 1px;
}

.bl-1-dark {
  border-left: #585858 solid 1px;
}

.br-1-dark {
  border-right: #585858 solid 1px;
}

.w-100 {
  width: 100%;
}
