.bb-1-light {
  border-bottom: #afafaf solid 1px;
}

.bt-1-light {
  border-top: #afafaf solid 1px;
}

.bl-1-light {
  border-left: #afafaf solid 1px;
}

.w-100 {
  width: 100%;
}

#logWrap {
  height: 275px;
  overflow-y: auto;
}


#logHeadingWrap .checkbox {
  font-size: .75rem;
}

#paramWrap {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


label.checkbox {
  font-size: .75rem;
}

.pt-30px {
  padding-top: 30px;
}

.hidden {
  display: none;
}