{
  "NodeId": "{{NodeId}}",
  "ApplicationUri": "{{ApplicationUri}}",
  "DisplayName": "{{DisplayName}}",
  "Value": {
    "StatusCode": {
      "Symbol": "{{Symbol}}",
      "Code": "{{Code}}"
    },
    "SourceTimestamp": "{{SourceTimestamp}}"
  }
}